<a href="https://colab.research.google.com/github/Emmanuelmitra/for-loops-in-python/blob/main/for_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For loop

A for loop in Python is a control flow statement that is used to repeatedly execute a group of statements as long as the condition is satisfied. Such a type of statement is also known as an iterative statement. Therefore, a for loop is an iterative statement.

In [1]:
# 1. Write a for loop so that every item in the list is printed.
l=['emmanuel','simon','ironman', 'superman']
for i in l:
  print(i)

emmanuel
simon
ironman
superman

In [3]:
# 2. Write a for loop which print "Hello!, " plus each name in the list. i.e.: "Hello!, emmanuel"
l=['emmanuel','simon','ironman', 'superman']
for i in l:
  print('Hello!,'+ i)

Hello!,emmanuel
Hello!,simon
Hello!,ironman
Hello!,superman

In [6]:
# Write a for loop that iterates through a string and prints every letter.
s='Emmanuel'
for i in s:
  print(i)

E
m
m
a
n
u
e
l

In [10]:
# Type a code inside the for loop so that counter variable named c
# is increased by one each time loop iterates. 
# Can you guess how many times it will add 1?

c=0
s='Emmanuel'
for i in s:
  c=c+1
  print(c)

1
2
3
4
5
6
7
8

In [12]:
# Using a for loop and .append() method append each item with a Dr. prefix to the lst.
c=[]
l=['emmanuel','simon','ironman','superman']
for i in l:
  c.append('Dr.'+i)
print(c)

['Dr.emmanuel', 'Dr.simon', 'Dr.ironman', 'Dr.superman']

In [13]:
# Write a for loop which appends the square of each number to the new list.
newl=[]
l=[1,2,3,4,5]
for i in l:
  newl.append(i**2)
print(newl)

[1, 4, 9, 16, 25]

In [14]:
# Write a for loop using an if statement, that appends each number to the new list if it's positive.
lnew=[]
l=[1,2,-4,-9,-8,4,5,6,10]
for i in l:
  if i>0:
    lnew.append(i)
print(lnew)

[1, 2, 4, 5, 6, 10]

In [18]:
# Write a for loop which appends the type of each element in the first list to the second list
lnew=[]
l=['emmanuel', 1,3.14, 2+5j]
for i in l:
  lnew.append(type(i))
print(lnew)

[<class 'str'>, <class 'int'>, <class 'float'>, <class 'complex'>]

In [26]:
# Using for loop and if statement, append the value minus 1000 
# for each key to the new list if the value is above 1000. i.e.:
# if the value is 1500, 500 should be added to the new list.
dict={"z1":20, "t1": 1100, "p1": 2300, "r1": 1050, "k1": 3200, "g1": 400}
lst=[]
for k,v in dict.items():
  if v>1000:
    lst.append(v-1000)
print(lst)

[100, 1300, 50, 2200]

In [27]:
# end